# Dependencies
node_modules/
**/node_modules/

# Environment
.env
**/.env

# Uploads
uploads/
**/uploads/

# Logs
*.log

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/


backend/uploads/*
!backend/uploads/.gitkeep
