@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f7fb;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}